<div class="homepage-container">
  <div class="opinion-list">
    <nav class="opinion-list-nav width-100 margin-b-1 bordered-b-third">
      <ul class="width-95 centered-horizontal margin-b-0">
        <li class="padding-1 border-b-primary">
          <%=link_to 'Opinions', opinions_path, class: 'text-uppercase text-black-color text-bold'%>
        </li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </nav>
    <div class="opinion-form white-bg width-95 padding-y-1 rounded-corners-half">
      <%=form_for(@opinion) do |f| %>
      <% if @opinion.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(opinion.errors.count, "error") %> prohibited this opinion from being saved:</h2>
          <ul>
            <% @opinion.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="width-100">
        <h3 class="width-95 centered-horizontal padding-y-1">
          <%= f.label :text, "Do you have some opinion on your mind?", class:"text-fith-color" %>
        </h3>
        <div class="new-opinion-container">
        <%= f.text_area(
          :text,
          autofocus: true,
          autocomplete: "text",
          class: 'rounded-corners-half width-95 padding-1 opinion-text-area',
          placeholder:"Post a new opinion here..."
          )%>
        </div>
        <div class="width-95 centered-horizontal">
          <%= f.submit 'Send opinion', class: 'button-primary width-40' %>
        </div>
      </div>
      <%end%>
    </div>
    <div class="white-bg width-95 margin-y-1 padding-y-1 padding-x-2 rounded-corners-half">
      <h2 class="text-primary-color bordered-b-third width-95 padding-y-1 centered-horizontal">
      <%=@opinions.size%> OPINIONS IN TOTAL</h2>
      <div class="margin-y-1 width-100"></div>
      <%@opinions.each do |opinion|%>
        <div class="individual-opinion-container width-100 margin-y-1">
          <%=image_tag opinion.user.photo, class:"width-100 rounded-corners-half"%>
          <div class="opinion-content margin-x-1">
            <h3><%=link_to opinion.user.full_name, user_path(opinion.user), class: 'text-black-color' %></h3>
            <p class="text-fith-color margin-y-1">
              <%=opinion.text%>
            </p>
          </div>
        </div>
      <%end%>
    </div>
  </div>
<div class="homepage-right-side">
  <nav class="width-100 margin-b-1">
    <ul class="width-90 bordered-b-third centered-horizontal margin-b-0">
      <li class="padding-1 opinion-li text-bold centered-text text-fith-color">WHO TO FOLLOW </li>
    </ul>
  </nav>
  <div class="width-90 padding-y-1 centered-horizontal">
    <%@who_to_follow.each do |to_follow|%>
      <div class="individual-rightside-container margin-y-2">

        <%=image_tag to_follow.photo, class:'circled-element'%>

        <div class="opinion-content margin-x-1">
          <h3><%=link_to to_follow.full_name, user_path(to_follow), class: "text-fith-color" %></h3>
          <p class="width-100">
            <%= display_followed_by(to_follow) %>
          </p>
        </div>

        <%=display_follow_button(to_follow)%>

      </div>
    <%end%>
  </div>
</div>
</div>
