<!DOCTYPE html>
<html>
  <head>
    <title>ProjectsOpinions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <main>
        <aside></aside>
        <div class="main-page">
            <header>
              <nav class="nav-container">
                <div class="navbar-brand">
                  <%= link_to root_path, class: "navbar-item" do %>
                    <h1 class="title is-5 has-text-white">ProjectsOpinions</h1>
                  <% end %>
                </div>
                <div class="nav-menu">
                  <p>
                    <%= display_create_button %>
                  </p>
                  <p>
                    <%= display_user_signup_or_login %>
                  </p>
                </div>
              </nav>
            </header>
            <div class="notification-place">
              <p class="notice"><%= notice %></p>
              <p class="alert"><%= alert %></p>
            </div>
            <div class="main-content">
              <%= yield %>
            </div>
        </div>
      </main>
  </body>
</html>
